<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/style-sheet.css">
    <meta charset="UTF-8">
    <title>CrypTrader</title>
</head>
<body>

<div style="text-align: center;">
    <h1 class="title">CrypTrader</h1>
    <p>Welcome to <strong>CrypTrader</strong>, a student project where you can securely login and trade!</p>

    <p>Existing users can <a href="login.html">login here!</a></p>
    <p>New users can <a href="sign-up.html">sign up here!</a></p>
</div>

</body>
</html>